
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix"></div>
    <div class="cards-container">

          <div class="card">
              <div class="field">
                  <strong><h3>Client</h3></strong>
                  <h4>Select the client for this project.</h4>
                  <p>(If the name doesn't appear on the list, you will have to create a new entry). </p>
                  <%= f.select :client_id, @clients.map { |m| [m.name, m.id] }, class:"btn btn-default dropdown-toggle", type:"button"%>
                <%= link_to "New Client", new_client_path, class:"pull-right" %>
              </div>
          </div>


            <div class="card">  
              <div class="field">
                    <strong><h3>Translator</h3></strong>
                    <h4>Select the translator who will work on this project.</h4> 
                    <p>(If the name doesn't appear on the list, you will have to create a new entry). </p>
                  <%= f.select :translator_id, @translators.map { |m| [m.name, m.id] }%>
                  <%= link_to 'New Translator', new_translator_path, class:"pull-right" %>
              </div>
            </div>
       
            <br>
            <div class="card">
              <div class="field">
              <strong><h3>Project Name</h3></strong>
                  <%= f.text_field :name, class:"form-control", placeholder:"Enter project name" %> 
              </div>
          </div>

          <div class="card">
            <div class="field">
              <strong><h3>Date received</h3></strong>
              <br>
              <%= f.date_select :date_received %>
            </div>
          </div>

  <div class="card">
    <div class="field">
      <strong><h3>Words</h3></strong>
      <%= f.number_field :words, class:"form-control", placeholder:"Enter word total" %>
    </div>
    <div class="field">
      <strong><h3>Rate</h3></strong>
      <%= f.text_field :rate, class:"form-control", placeholder:"Enter rate per word (allows decimals)" %>
    </div>
    <div class="field">
      <strong><h3>Extras</h3></strong>
      <%= f.text_field :extras, class:"form-control", placeholder:"Enter extra charges (e.g.: design)" %>
    </div>
    <br>
    <div class="field">
      
      <h4>Calculated total: </h4> <span id="calc_total"></span>
      <h5>Override total</h5>
      <%= f.text_field :total, class:"form-control", placeholder:"Enter value to override total. Leave blank to use total calculated above." %>
    </div>
  </div>
  
  <div class="card">
    <div class="field">
      <h3>Has this project been sent to the client?</h3>
      <div> <%= f.check_box :sent%></div>
    </div>
  </div>
  <div class="card">
    <div class="field">
      <h3>Client Invoice Number</h3>
      <%= f.text_field :invoice_number, class:"form-control", placeholder:"Leave blank if not invoiced to client yet" %>
    </div>

    <div class="field">
      <h3>Has this project been paid by the client?</h3>
      <%= f.check_box :customer_payment, class:"big-checkbox" %>
    </div>
    <div class="field">
      <h3>Has the translator been paid for this project?</h3>
      <%= f.check_box :translator_payment, class:"big-checkbox" %>
    </div>
    
    <div class="field">
      <h3>Comments</h3>
      <%= f.text_area :comments %>
    </div>
    <div>
  </div>
  </div>           
    <div class="actions card-transparent">
          <span>  <%= f.submit class:"btn btn-primary pull-right" %> </span>
              <%= link_to projects_path do %>
            <span class="btn btn-danger pull-right" style="margin-right: 20px">Cancel</span>
            <% end %>
            
        <% end %>
      </div>
  </div>
