<p id="notice"><%= notice %></p>

<div class="container">
<p>
  <strong>Client:</strong>
  <%= @project.client.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Date received:</strong>
  <%= @project.date_received %>
</p>

<p>
  <strong>Words:</strong>
  <%= @project.words %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @project.rate %>
</p>

<p>
  <strong>Extras:</strong>
  <%= @project.extras %>
</p>

<p>
  <strong>Total:</strong>
  <%= @project.total %>
</p>

<p>
  <strong>Client invoice</strong>
  <%= @project.invoice_number %>
</p>

<p>
  <strong>Translator invoice</strong>
  <%= @project.translator_invoice %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @project.comments %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<%= link_to "Go back", :back, class:"btn btn-primary" %>

</div>